// 基础颜色，颜色顺序按照设计稿顺序
$green-1: #28b7a3;
$green-2: #219c8b;
$blue-1: #36b4c2;
$blue-grey-1: #4b5666;
$blue-grey-2: #6f7580;
$red-6: #f76260;
$orange-1: #ffb300;
$grey-1: #202020;
$blue-grey-3: #444c57;
$grey-2: #333333;
$grey-3: #666666;
$blue-grey-4: #6f7580;
$grey-4: #999999;
$grey-5: #bbbbbb;
$grey-6: #cccccc;
$grey-7: #d9d9d9;
$grey-8: #ebebeb;
$orange-2: #fff6e8;
$green-3: #eff9fa;
$grey-9: #f4f4f4;
$grey-10: #f8f8f8;
$white: #fff;
// 基础字字号
$f48: 48rpx;
$f40: 40rpx;
$f36: 36rpx;
$f34: 34rpx;
$f32: 32rpx;
$f30: 30rpx;
$f28: 28rpx;
$f26: 26rpx;
$f24: 24rpx;
$f22: 22rpx;
$f20: 20rpx;
