{
  "rules": {
    "arrow-body-style": 0,
    "generator-star-spacing": 0,
    "no-new": 0,
    "require-await": 0,
    "no-throw-literal": 0,
    "new-cap": 0,
    "no-undef": 0,
    "space-before-function-paren": 0,
    "no-console": 0,
    "curly": 0,
    "no-unused-expressions": [
      2,
      {
        "allowShortCircuit": true
      }
    ]
  },
  "env": {
    "browser": true,
    "es6": true,
    "commonjs": true,
    "node": true,
    "mocha": true
  },
  "extends": "@dxy/eslint-config-dxy-base",
  "plugins": [
    "html"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    },
    "ecmaVersion": 7
  },
  "globals": {
    "wx": true
  }
}
